<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">{{'WarehouseList'| translate}}</h4>
            <a *ngIf="checkClaim('CreateWarehouseCommand')" class="pull-right" data-toggle="modal"
              data-target="#warehouse"> <i style="color:white" title="{{'Add'| translate}}"
                class="far fa-plus-square fa-2x"></i></a>
          </div>
          <div class="card-body">
            <div class="table-responsive">

              <div class="row">
                <div class="col-md-4 pull-left">
                  <mat-form-field appearance="fill">
                    <mat-label>Enter a date range</mat-label>
                    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                      <input matStartDate formControlName="start" placeholder="Start date">
                      <input matEndDate formControlName="end" placeholder="End date">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>

                    <!-- <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                    <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error> -->
                  </mat-form-field>
                </div>
                <div class="col">
                  <div class="col-md-2">
                    <button type="button" class="btn btn-primary pull-left" (click)="applyDateFilter()">Filter</button>
                  </div>
                  <div class="col-md-2">
                    <button type="button" style="background-color: darkgray;" class="btn btn-primary pull-left"
                      (click)="clearDateFilter()">clear</button>
                  </div>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>Filter</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
                  </mat-form-field>
                </div>
              </div>

              <table mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Id'|translate}}</th>
                  <td mat-cell *matCellDef="let element">{{element.id}}</td>
                </ng-container>

                <ng-container matColumnDef="createdDate">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'CreatedDate'|translate}}</th>
                  <td mat-cell *matCellDef="let element">{{element.createdDate | date : "MM/dd/yyyy HH:mm"}}</td>
                </ng-container>

                <ng-container matColumnDef="lastUpdatedDate">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'LastUpdatedDate'|translate}}</th>
                  <td mat-cell *matCellDef="let element">{{element.lastUpdatedDate | date : "MM/dd/yyyy HH:mm"}}</td>
                </ng-container>

                <ng-container matColumnDef="userName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'userName'|translate}}</th>
                  <td mat-cell *matCellDef="let element">{{element.userName}}</td>
                </ng-container>

                <ng-container matColumnDef="productName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'productName'|translate}}</th>
                  <td mat-cell *matCellDef="let element">{{element.productName}}</td>
                </ng-container>

                <ng-container matColumnDef="size">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'size'|translate}}</th>
                  <td mat-cell *matCellDef="let element">{{element.size}}</td>
                </ng-container>

                <ng-container matColumnDef="quantity">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Quantity'|translate}}</th>
                  <td mat-cell *matCellDef="let element">{{element.quantity}}</td>
                </ng-container>

                <ng-container matColumnDef="readyForSale">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'ReadyForSale'|translate}}</th>
                  <td mat-cell *matCellDef="let element">{{element.readyForSale}}</td>
                </ng-container>

                <ng-container matColumnDef="update">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td style="width: 25px;" mat-cell *matCellDef="let element">
                    <a *ngIf="checkClaim('UpdateWarehouseCommand')" data-toggle="modal" data-target="#warehouse"
                      (click)="getWarehouseById(element)">
                      <i title="{{'Update'| translate}}" style="color:#ff5722;" class="far fa-edit"></i>
                    </a>
                  </td>
                </ng-container>

                <ng-container matColumnDef="delete">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td style="width: 25px;" mat-cell *matCellDef="let element">
                    <a *ngIf="checkClaim('DeleteWarehouseCommand')" (confirm)="deleteWarehouse(element.id)"
                      [swal]="deleteSwal"><i title="{{'Delete'| translate}}" style="color: #D9534E;"
                        class="fas fa-trash-alt"></i></a>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <tr class="mat-row" *matNoDataRow style="text-align: center;">
                  <td class="mat-cell" colspan="4">{{'NoRecordsFound' |translate}} "{{input.value}}"</td>
                </tr>
              </table>
              <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="modal modal-angular fade" id="warehouse" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
          (click)="clearFormGroup(warehouseAddForm)"><span aria-hidden="true">&times;</span></button>
        <h4 class="margin-top">
          {{'WarehouseForm'| translate}}
        </h4>
        <div class="separator"></div>

        <form *ngIf="warehouseAddForm" [formGroup]="warehouseAddForm" (ngSubmit)="save()">

          <div class="row">
            <div class="col-md-12">
              <mat-form-field>
                <input type="text" placeholder="Select Product" aria-label="Number" matInput
                  [formControl]="myProductControl" [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFnProduct">
                  <mat-option *ngFor="let item of filteredProducts  | async" [value]="item">{{item.productName+"
                    "+item.size+" "+item.color}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>

          <!-- <div class="row">
            <div class="col-md-12" style="text-align: left;">
              <label for="productId">Choose a product</label>
              <select class="browser-default custom-select" name="productId" formControlName="productId">
                <option value='' disabled selected>Product</option>
                <option *ngFor="let item of productlookUp" [ngValue]="item.id"> {{item.label}}</option>
              </select>
            </div>
          </div> -->

          <div class="row">
            <div class="col col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="quantity" type="text" id="quantity" name="quantity"
                  formControlName="quantity" />
                <div class="alert alert-danger"
                  *ngIf="warehouseAddForm.get('quantity')!.hasError('quantity') && warehouseAddForm.get('quantity')!.dirty">
                </div>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col col-md-12" style="text-align: left;">
              <label for="color">Choose Color</label>
              <select class="browser-default custom-select" name="color" formControlName="color">
                <option value='' disabled selected>Color</option>
                <option *ngFor="let item of colorEnumKeys" [value]="item"> {{color[item]}}</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col col-md-12" style="text-align: left;">
              <label for="size">Choose Size</label>
              <select class="browser-default custom-select" name="size" formControlName="size">
                <option value='' disabled selected>Size</option>
                <option *ngFor="let item of sizeEnumKeys" [value]="item"> {{size[item]}}</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col col-md-12" style="text-align: left;">
              <label for="readyForSale">Ready For Sale</label>
              <select class="browser-default custom-select" name="readyForSale" formControlName="readyForSale">
                <option value="" disabled selected>Ready for sale</option>
                <option *ngFor="let item of readyForSaleEnumKeys" [value]="item">{{readyForSale[item]}}</option>
              </select>
            </div>
          </div>

          <button mat-raised-button type="submit" class="btn btn-danger pull-right">{{'Save'|translate}}</button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</div>

<swal #deleteSwal title="{{'DeleteConfirm' | translate}}" icon="error" [showCancelButton]="true"
  [confirmButtonText]="'OK'" [cancelButtonText]="'Cancel'">
</swal>